[galaxy]
#server_list = rh-certified_repo, validated_repo, published, community_repo
server_list = community_repo

#[galaxy_server.rh-certified_repo]
#url=https://hub.aap.rhbr-lab.com/api/galaxy/content/rh-certified/
#token=ef0453cdf8fc7a4f8c5200d6437e26a53c02bacf
#[galaxy_server.validated_repo]
#url=https://hub.aap.rhbr-lab.com/api/galaxy/content/validated/
#token=ef0453cdf8fc7a4f8c5200d6437e26a53c02bacf
#[galaxy_server.published]
#url=https://hub.aap.rhbr-lab.com/api/galaxy/content/community/
#token=ef0453cdf8fc7a4f8c5200d6437e26a53c02bacf

[galaxy_server.community_repo]
url=https://galaxy.ansible.com/api/
token=9c9c019a218f7ebb21f1bea96bd26c717a96f725
